<div
    class="message-container"
    #scrollContainer>

    @if(messages.length === 0){

        <div class="empty">

            <h2>

                👋 Hi, I'm Balaji's AI clone!

            </h2>

            <p>

                Feel free to ask me anything about my experience, projects, or skills.

            </p>

        </div>

    }

    @for(message of messages; track message.id){

        <app-message

            [message]="message">

        </app-message>

    }

    @if(loading){

        <app-typing-indicator></app-typing-indicator>

    }

</div>