<section class="cta">

    <div class="overlay">

        <span>

            Let's Connect

        </span>

        <h2>

            Let's Build Something Amazing Together 🚀

        </h2>

        <p>

            I'm always interested in exciting opportunities,
            AI projects, enterprise applications,
            and full-stack development collaborations.

        </p>

        <div class="buttons">

            <a

                routerLink="/contact"

                class="primary">

                Contact Me

            </a>

            <a

                [href]="resumeUrl"

                download

                class="secondary">

                Download Resume

            </a>

        </div>

    </div>

</section>