<section class="hero">

    <div class="container">

        <div class="left">

            <span class="badge">
                👋 Welcome to my portfolio
            </span>

            <h1>

                Hi,

                I'm

                <span>{{ settings()?.siteName  }}</span>

            </h1>

            <h2>

                {{ settings()?.tagline }}

            </h2>

            <p>

                {{ settings()?.description  }}

            </p>

            <div class="buttons">

                <a
                    routerLink="/projects"
                    class="primary">

                    View Projects

                </a>

                <a
                    routerLink="/assistant"
                    class="secondary">

                    AI Assistant

                </a>

            </div>

            <div class="social">

                <a
                    [href]="settings()?.github || 'https://github.com'"
                    target="_blank">

                    GitHub

                </a>

                <a
                    [href]="settings()?.linkedin || 'https://linkedin.com'"
                    target="_blank">

                    LinkedIn

                </a>

            </div>

        </div>

        <div class="right">

            <div class="profile-card">

                <img
                    src="/assets/images/profile.jpg"
                    alt="Balaji">

            </div>

        </div>

    </div>

</section>

<section class="stats">

    <div class="container">

        @for(stat of stats; track stat.label){

        <div class="card">

            <h2>{{stat.value}}</h2>

            <p>{{stat.label}}</p>

        </div>

        }

    </div>

</section>