.assistant{

    display:flex;

    height:calc(100vh - 72px);

    background:#F8FAFC;

}

.chat-area{

    flex:1;

    display:flex;

    flex-direction:column;

}

@media(max-width:992px){

.assistant{

flex-direction:column;

}

.sidebar{

width:100%;

height:auto;

}

}