.header{

    text-align:center;

    margin-bottom:50px;

}

h1{

    font-size:48px;

}

h3{

    color:#4F46E5;

    margin:16px 0;

}

p{

    max-width:800px;

    margin:auto;

    color:#64748B;

}