.filters{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:16px;

    margin-bottom:50px;

}

button{

    border:none;

    padding:12px 22px;

    border-radius:999px;

    cursor:pointer;

    background:#F1F5F9;

    color:#334155;

    font-weight:600;

    transition:.3s;

}

button:hover{

    background:#E0E7FF;

    color:#4F46E5;

}

.active{

    background:#4F46E5;

    color:white;

}