<section class="timeline-section">

    <div class="title">

        <h2>Experience</h2>

        <p>My professional journey</p>

    </div>

    <div class="timeline-container">

        @for(item of experiences; track item.id) {

            <div class="timeline-item">

                <div class="timeline-dot"></div>

                <div class="timeline-content">

                    <app-experience-card [experience]="item"></app-experience-card>

                </div>

            </div>

        }

    </div>

</section>